<article>
  <div>
    <a href="{{park_name}}">
        {{park_name}}
    </a>
    <span>({{post_id}})</span>
  </div>
  <div class="meta">
  {{user.username}} Gave it a rate of a {{park_rate}}

    <a href="/post/{{id}}">
    {{comment_text}}
    </a>
  </div>
</article>

