<article>
  <div>
    <a href="/post/{{id}}">{{park_name}}</a>
  </div>
  <div class="meta">
    {{user.username}} gave {{park_name}} a rating of  {{park_rate}}

    {{!-- <a href="/post/{{id}}">
      comment
    </a> --}}
  </div>
</article>