<article>
  <div>
    <a href="{{post_url}}">
        {{title}}
    </a>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
  //edit this {{vote}} by {{user.username}} on {{created_at}}
    |
    <a href="/post/{{id}}">
    {{comments_text}}
    </a>
  </div>
</article>