<article>
  <div>
    <a href="/post/{{id}}">{{park_name}}</a>
  </div>
  <div class="meta">
    {{user.username}} Gave it {{park_name}} a rating of a {{park_rate}}

    <a href="/post/{{id}}">
      comment
    </a>
  </div>
</article>