<article>
  <div>
    <a href="{{park_name}}">
        {{park_name}}
        {{park_rate}}
    </a>
    <span>({{post_id}})</span>
  </div>
  <div class="meta">
  //edit this {{vote}} by {{user.username}} on {{created_at}}
    |
    <a href="/post/{{id}}">
    {{comment_text}}
    </a>
  </div>
</article>

