<ol class="post-list">
<div class="card border-success mb-3" style="max-width: 89rem;">
  <div class="card-body">
    <h4 class="card-title">
{{#each posts as |post|}}
        </h4>
    <p class="card-text">
      <div class="meta">
        {{> postinfo post}}
      </div>
   {{/each}}
  </div>
</div>
</ol>


<ol class="post-list">
<div class="card border-success mb-3" style="max-width: 89rem;">
  <div class="card-body">
    <h4 class="card-title">
      <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
        </h4>
    <p class="card-text">
      <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
      </div>
    </p>
    <a href="/post/{{id}}" class="card-link">{{comments.length}} comment(s)</a>
  </div>
</div>
</ol>